# 24 or 12 hour time
time:24;

# 1 to enable timestamps, 0 to disable
timestamps:1;

# 1 to enable autologging, 0 to disable
autolog:0;

# 1 to disbale terminal alerts on messages, 0 to enable
alerts:1;

# maximum lines for chat window history
history_size:700;

# 1 to use native terminal colours, 0 to use toxic default colour theme
colour_theme:0;

# preferred audio input device; numbers correspond to /lsdev in
audio_in_dev:0;

# preferred audio output device; numbers correspond to /lsdev out
audio_out_dev:0;

# preferred path for downloads
download_path:/home/USERNAME/Downloads/;