.DS_Store
*~
*.swp
*.o
*.lo
*.a
*.exe
*.out
*.app
*.swp
*.la
m4/*
!m4/pkg.m4
configure
configure_aux
Makefile.in
aclocal.m4
config.h*
config.log
config.status
stamp-h1
autom4te.cache
.deps
.libs
*.orig
build/toxic
Makefile
